<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739135115596-q49jv6m31tr7vbnigamithdios97p9mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739135115596-q49jv6m31tr7vbnigamithdios97p9mi</string>
	<key>API_KEY</key>
	<string>AIzaSyCfTsW9Y48_O-buO9S7RYYYy5Jq56_GYd0</string>
	<key>GCM_SENDER_ID</key>
	<string>739135115596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.nerco.Memoria</string>
	<key>PROJECT_ID</key>
	<string>mr-alternative</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-alternative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739135115596:ios:e81303c876db22cd</string>
	<key>DATABASE_URL</key>
	<string>https://mr-alternative.firebaseio.com</string>
</dict>
</plist>